<script setup>
import TasksPage from "./pages/TasksPage.vue";
import Navbar from "./components/Navbar.vue";
import Footer from "./components/Footer.vue";
</script>

<template>
  <navbar></navbar>
  <tasks-page></tasks-page>
  <Footer></Footer>
</template>

<style scoped>

</style>
