.form-check-input.completed {
    filter: none;
    opacity: 0.5;
}
    
.completed {
    color: #9ca3af;
    text-decoration: line-through;
}

.task-date {
    color: #6b7280;
    font-size: 11px;
    padding: 0 2px;
}

.editable-task {
    width: 100%;
    background-color: transparent;
    border: 0;
    /* outline: 0; */
    padding: 0;
    margin: 0;
}

.editable-task:focus {
    outline: none !important;
}

.edit-item input[type="text"] {
    color: #999;
}

.list-group-item:hover .task-actions {
    visibility: visible;
    opacity: 1;
}

.task-actions {
    position: absolute;
    top: 50%;
    right: 130px;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.3s linear;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 10px;
    line-height: 1.42857;
}